gsanlogfile*
.gitignore.*
gsanServer.png
mvnw
mvnw.*
PostgreSQL_*
requeriments.txt
target
src/main/resources/application.properties
src/main/resources/static/ontology/*
src/main/resources/static/AssociationTAB/*
src/main/resources/static/integration/*
src/main/tmp/results
src/main/java/com
src/main/java/gsan/server/singleton/AnalysisNAR.java
top10DO.tsv
.settings
bin

