gsanlogfile.*
gsanServer.png
Dockerfile
mvnw
mvnw.*
PostgreSQL_*
requeriments.txt
target
src/main/resources/application.properties
src/main/resources/static/ontology/*
src/main/resources/static/AnnotationTAB/*
src/main/resources/static/integration/*
.settings
bin
