<!DOCTYPE html>
<html>
<body>


	<div class="content">
		<div th:insert="index"></div>

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12">
				<div class="pageClass">
					<h1>
						Visualization
					</h1>
					<h3>JSON input</h3>

					<br>
					<div id="query">
						<form method="POST" action="/results"
							enctype="multipart/form-data" accept=".json">
							<input id="queryFile" type="file" name="file" /><br />
							<button type="submit" id="run" class="btn-circle btn-xl">
								<i class="glyphicon glyphicon-play"></i>
							</button>
						</form>

					</div>
				</div>
			</div>
		</div>


	</div>


	<script>
$("#queryFile").change(function(e) {
var ext = $("#queryFile").val().split(".").pop().toLowerCase();

if($.inArray(ext, ["json"]) == -1) {
alert('Please upload a .json file');
return false;
}
});

</script>

</body>
</html>
