<!DOCTYPE html>
<html>
<body>
	<script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>

	<style>
figure {
	border-style: solid;
	border-width: 3px;
}
</style>

	<div class="content">
		<div th:insert="index"></div>

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12">
				<div class="pageClass">
					<h1>
						<i class="fa fa-book"></i> Documentation
					</h1>

					<br>
					<div class="container">
						<p>GSAn is a new alternative to gene set analysis exploiting the semantic of concepts in the Gene Ontology (GO). Combining with data mining and combinatorial algorithm, GSAn provides a reduced and synthetic number of GO terms resuming an input gene set. In the 1st version, GSAn includes the three ontologies of GO, biological process (BP), molecular function (MF) and cellular component (CC). The sections of interest are:</p>
						<h2>Start Analysis</h2>
						<figure>
							<img src="dist/imgs/fig1.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<h4>Advanced parameters</h4>
						<figure>
							<img src="dist/imgs/fig2.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<h2>Visualization</h2>
						<figure>
							<img src="dist/imgs/VisPag.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<h2>Results</h2>

						<figure>
							<img src="dist/imgs/VisResult.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<br>
						<h4>Understanding the gauge figures</h4>
						<figure>
							<img src="dist/imgs/gauge.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<h4>Bubble chart</h4>
						<p>We show in the result a visualization combining two class: node-link and space-filling visualization.
						This visualization is dynamic and you can zoom to get a deeper information. The complete information about this visualization is found in <a href="https://ieeexplore.ieee.org/document/8107965">Ayllon-Benitez et al.</a></p>
						<figure>
							<img src="dist/imgs/Result3.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>
						<figure>
							<img src="dist/imgs/Result4.png" alt="" style="width: 100%" />
							<!-- <figcaption>Légende associée</figcaption> -->
						</figure>
						<br>

					</div>
				</div>
			</div>
		</div>


	</div>


</body>
</html>
