<!DOCTYPE html>
<html>
<body>
	<style>
* {
	box-sizing: border-box;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
</style>

	<div class="content">
		<div th:insert="index"></div>

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12">
				<div class="pageClass">

					<div class="container" style="width: 90%">
						<h2>Welcome to GSAn <span th:text="${version}"></span> </h2>

						<p>
							<b>G</b>ene <b>S</b>et <b>An</b>nnotation is a public web server for characterising gene lists of high-throughput genomics. GSAn has a simple user-friendly web interface providing results according to interactive visualization. Currently, GSAn only uses the Gene Ontology and the Gene Ontology Annotation, the stored information being updated every week. The aim of GSAn is to provide a synthetic annotation for a given gene set.
						</p>
						<br>
						<h4>About GSAn</h4>
						GSAn is developed and maintained in France, at Bordeaux University, in collaboration with the Laboratoire Bordelais de Recherche en Informatique (LaBRI, CNRS UMR5800) and the Bordeaux Population Health research center (BPH, Inserm U1219). The main development has been done during the PhD of <a
							href="http://www.labri.fr/perso/aayllon-/">Aaron Ayllon-Benitez</a> under the supervision of <a
							href="http://dept-info.labri.fr/~thebault/">Patricia Thébault</a> and <a
								href="https://www.bordeaux-population-health.center/profile/fleur-mougin/">Fleur Mougin</a>. The first version of GSAn became available in November 2018. The GSAn tool is freely available through this web application and various programmatic access points.
						<h4>Acknowledge</h4>
						<table>

							<tr>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/LaBRI.png" style="width: 50%"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/cnrs.png" style="width: 50%"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/bph.png"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/inserm.jpg" style="width: 60%"></td>

							</tr>

						</table>
						<br><br>

					</div>
					<center>
					<form action="start"  css="text-align:center">
							<button type="submit" class="btn btn-primary">Start your analysis here</button>
					</form>
				</center>
				<br><br>
				<br><br>
				<br><br>
				</div>
			</div>
		</div>

	</div>


</body>
</html>
