<!DOCTYPE html>
<html>
<body>
	<style>
* {
	box-sizing: border-box;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
</style>

	<div class="content">
		<div th:insert="index"></div>

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12">
				<div class="pageClass">
					<h1>
						GSAn 
					</h1>
					<div class="container">
						<h2>Welcome to GSAn <span th:text="${version}"></span> </h2>

						<p>
							<b>G</b>ene <b>S</b>et <b>An</b>nnotation is a public web server
							for characterising gene lists of high-throughput genomics. GSAn
							has a simple user-friendly web interface with powerful
							visualisation in result. Actually, GSAn use only the Gene
							Ontology and the Gene Ontology Annotation and the information
							stored is updated every week. The aim of GSAn is provide a
							synthetic annotation for a given gene set.
						</p>
						<br>
						<h4>About GSAn</h4>
						GSAn is developed and maintained in France, at the University of
						Bordeaux, in collaboration with Laboratoire bordolaise en
						recherche informatic (LaBRI) and Institut de santé public et
						epidemiologie et développement (ISPED). The main development has
						been done during the PhD of <a
							href="http://www.labri.fr/perso/aayllon-/">Aaron
							Ayllon-Benitez</a> over the supervision of <a
							href="http://dept-info.labri.fr/~thebault/">Patricia Thébault</a>
						and <a
							href="https://www.bordeaux-population-health.center/profile/fleur-mougin/">Fleur
							Mougin</a>. The first version of GSAn became available in early 2018.
						GSAn tool is freely available through web application and various
						programatic access points. <br>
						<h4>Acknowledge</h4>
						<table>

							<tr>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/LaBRI.png" style="width: 50%"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/cnrs.png" style="width: 50%"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/bph.png"></td>
								<td style="border: 0px solid;"><img alt=""
									src="dist/imgs/inserm.jpg" style="width: 60%"></td>

							</tr>

						</table>


					</div>
				</div>
			</div>
		</div>

	</div>


</body>
</html>
