<!DOCTYPE html>
<html>
<!-- jQuery 3 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>-->
<script type="text/javascript" src="dist/js/barplot.js"></script>
<script type="text/javascript" src="dist/js/visualization.js"></script>
<script type="text/javascript" src="dist/js/table.js"></script>
<script type="text/javascript" src="dist/js/motvis.js"></script>
<script type="text/javascript" src="dist/js/TreeColors.js"></script>
<script type="text/javascript" src="dist/js/FileSaver.min.js"></script>
<script type="text/javascript" src="dist/js/gauge.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GSAn</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="dist/css/motvis.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131137684-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131137684-1');
</script>

</head>
<header>



<span><a href="/"><img src="dist/imgs/logo.png" alt="[img:gsan]" height="55" width="55" style="position:absolute;top:2.5px;left: 10px;"/></a>
  <h2 style="display:inline;position:absolute;top:0px;left:50px;"><b>G</b>ene <b>S</b>et <b>An</b>notation_<i style="font-size:25px;">an alternative to enrichment analysis</i></h2></span>

</header>
<!-- Fixed size after header-->
    <!-- Always on top. Fixed position, fixed width, relative to content width-->
    <div class="sidebar1">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active treeview menu-open">
          <a href="/">
            <i class="fa fa-home"></i> <span>Home</span>
          </a>
        </li>
        <li class="treeview">
          <a href="visualization">
            <i class="fa fa-pie-chart"></i>
            <span>Visualization</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="fa fa-upload"></i> <span>Data input</span>
          </a>
        </li>-->
        <li>
          <a href="start">
            <i class="fa fa-arrow-circle-right"></i> <span>Start Analysis</span>
          </a>
        </li>

        <!--  <li class="treeview">
          <a href="wait">
            <i class="fa fa-folder"></i> <span>Examples</span>
          </a>
        </li>-->

        <li><a href="documentation"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li><a href="releases"><i class="fa fa-tag"></i> <span>Releases</span></a></li>
        <li>
          <a href="contact">
            <i class="fa fa-envelope"></i> <span>Contact</span>
          </a>
        </li>
  </ul>
    </div>

<!-- Always at the end of the page -->
<footer>
  <div id="pro"></div>
  <div id="test">
&copy; 2018 GSAn <span th:text="'version ' + ${version}"></span>
  </div>

</footer>
<!-- AdminLTE App -->



</html>
