<!DOCTYPE html>
<html>
<body>

	<div th:insert="index"></div>

	<div class="content">

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12" style="overflow: hidden">
				<div class="pageClass" id="VisualizePage">
					<h1>
						Annotation results
						<button class="btnJSON" style="font-family: sans-serif;font-size:18px;">
							<i class="fa fa-download"></i>&nbsp;Export JSON
						</button> <span style="font-size: 14px;"> <i class="fa fa-info-circle" rel="tooltip" data-toggle=popover
							 title="download JSON file" data-content="Clicking this button you can download the JSON file to use in the Visualization tool."></i></span>
					</h1>
					<div class="row">
						<div id="gauge" class="col-xs-12 col-lg-3">
						<H2>Charts</H2 >
							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center">Percentage of genes with annotations <span style="font-size: 14px;"> <i class="fa fa-info-circle" rel="tooltip" data-toggle=popover
										 title="Percentage of genes with annotations" data-content="Percentage of genes with annotation in the gene set provided as input before the analysis (information extracted from the organism specific GOA file)"></i></span></H4>
								</div>
								<div class="col-xs-4 col-lg-6">
									<div id="recoverGenes"></div>
								</div>
								<div class="col-xs-12 rg">

								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center">Percentage of genes annotated with GSAn <span style="font-size: 14px;"> <i class="fa fa-info-circle" rel="tooltip" data-toggle=popover
										 title="Percentage of annotated genes" data-content="Percentage of recovered genes in the gene set provided as input associated with at least one GO term in the result."></i></span></H4>
								</div>
								<div class="col-xs-4 col-lg-6" style="vertical-align:middle;">
									<div id="recoverAnnotGenes"></div>
								</div>
								<div class="col-xs-12 rag">

								</div>
							</div>

							<!--	<div class="row">
			<div class="col-sm-6">
				<H4 style="text-align:center;height:100px ;display: table-cell; vertical-align: middle;">Percentage term reduced</H4>
			</div>
			<div class="col-sm-6">
					<div id="reduce" style="width:100%;height:100px; display: table-cell;vertical-align: middle; "></div>
		</div>
	</div>-->

							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center;">Gene set similarity
										(GS&sup2;)<span style="font-size: 14px;"> <i class="fa fa-info-circle" rel="tooltip" data-toggle=popover
											 title="Gene set similarity" data-content="Similarity computed before GSAn analysis. This similarity show how annotation share the genes in the set provided as input. <a href='documentation#formulas'>Click here</a> for details about the formula"></i></span></H4>
								</div>
								<div class="col-xs-4 col-lg-6">
									<div id="gs2"></div>
								</div>
								<div class="col-xs-12 gs2">

								</div>
							</div>

						</div>
						<div id="barplot" class="col-xs-12 col-sm-12 col-md-12 col-lg-9" style="vertical-align:middle;">
							<H2>Synthetic annotation<span style="font-size: 14px;"> <i class="fa fa-info-circle" rel="tooltip" data-toggle=popover
								 title="Synthetic annotation" data-content="This visualization represents the gene coverage and the Information Content (IC) of GO terms selected as synthetic in the analysis. <b>Note</b>: The <em>-log(information content)</em> was used since there are GO terms with very high values that hide the potential differences between smaller values."></i></span></H2>
							<br>
							<br>
						</div>
					</div>

					<!--	<div class="table-toogle">
				<table class="table table-striped">
					<tr>
						<td>Table</td>
						<td>Bubble Chart (BETA)</td>
					</tr>
				</table>

			</div>-->
					<div class="row">
					<div class="col-xs-6" style="background-color: #555;margin:0px;padding-right: 0px;padding-left: 0px;"><button class="tablink"
							onclick="openCity('tableResult', this, '#999999')"
							id="defaultOpen">Table</button></div>
						<div class="col-xs-6" style="background-color: #555;margin:0px;padding-right: 0px;padding-left: 0px;">
						<button class="tablink"
							onclick="openCity('motvis', this, '#999999')">Combined tree visualization</button>
							</div>
					</div>
<div class="row">
<div class="col-xs-12" style="padding-right: 10px;">
					<div class="table-container" id="tableResult">

						<script>
						$("[data-toggle=popover]")
						.popover({html:true})
							$(document).ready(
									function() {
										var table = $('#tableRep').DataTable();
										table.order([ 5, 'desc' ],
												[ 3, 'desc' ]).draw();
									});
						</script>
</div>
</div>
		<div class="col-xs-12" style="padding-right: 0px;padding-top: 15px;" >


					<div class="table-container" id="motvis" style="display: inline-block;">


						<div id="treeHIDDEN">
							<div id="tree"></div>
						</div>
						<div id="circular">
						<div id="tooltip"></div>
						</div>
					</div>





			</div>
			</div>
<br><br><br><br><br>
</div>

		<script th:inline="javascript">
			var jobj;
			/*<![CDATA[*/

			var message = /*[[${json}]]*/'default';
			jobj = JSON.parse(message);
			//console.log(jobj.tree);
			visual(jobj);
			/*]]>*/

			$(".btnJSON").click(function() {
				var a = document.createElement("a");
				document.body.appendChild(a);
				a.style = "display: none";
				var json = JSON.stringify(jobj), blob = new Blob([ json ], {
					type : "application/json"
				}), url = window.URL.createObjectURL(blob);
				a.href = url;
				a.download = "GSAn_result.json";
				a.click();
				window.URL.revokeObjectURL(url);
			});

			$(".btnCsv").click(function() {
				var data, filename, link;
				var csv = convertArrayOfObjectsToCSV(jobj);
				if (csv == null)
					return;

				filename = 'GSAn_result.csv';

				if (!csv.match(/^data:text\/csv/i)) {
					csv = 'data:text/csv;charset=utf-8,' + csv;
				}
				data = encodeURI(csv);

				link = document.createElement('a');
				document.body.appendChild(link);
				link.style = "display: none";
				link.setAttribute('href', data);
				link.setAttribute('download', filename);
				link.click();
			});

			function convertArrayOfObjectsToCSV(data) {
				var result, ctr, keys, columnDelimiter, lineDelimiter;

				var genes = data.GeneSet;
				var representative = data.representatives;
				var scp = data.scp;
				var dic = data.terms;

				var h = ["GOID","Name","Ontology","IC","Covered_genes","Synthetic", "Genes" ], r = [];
				representative.forEach(function(x) {
					//console.log(dic[x]);
					var cells = {};
					cells[h[0]] = x;
					cells[h[1]] = '"' + dic[x].name + '"';
					cells[h[2]] = dic[x].onto;
					cells[h[3]] = Math.floor(dic[x].IC * 100) / 100;
					cells[h[4]] = dic[x].geneSet.length;
					if (scp.includes(x)) {
						cells[h[5]] = true;
					} else {
						cells[h[5]] = false;
					}

					cells[h[6]] = dic[x].geneSet.join(";");
					r.push(cells);
				});

				columnDelimiter = ',';
				lineDelimiter = '\n';

				keys = Object.keys(r[0]);

				result = '';
				result += keys.join(columnDelimiter);
				result += lineDelimiter;

				r.forEach(function(item) {
					ctr = 0;
					keys.forEach(function(key) {
						if (ctr > 0)
							result += columnDelimiter;

						result += item[key];
						ctr++;
					});
					result += lineDelimiter;
				});

				return result;
			}
		</script>

		<script>
			function openCity(chooseCont, elmnt, color) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("table-container");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablink");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].style.backgroundColor = "";
				}
				document.getElementById(chooseCont).style.display = "block";
				elmnt.style.backgroundColor = color;

			}
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("defaultOpen").click();
		</script>
	</div>
</body>
</html>
