<!DOCTYPE html>
<html>
<body>

	<div class="content">
		<div th:insert="index"></div>

		<!-- Scrollable div with main content -->
		<div class="row" id="rowStart" style="width: 100%">
			<div class="col-xs-12 col-md-12">
				<div class="pageClass" id="loadingPage">

					<div class="col-md-12">
						<div id="textLoading">
							<h1>Loading ...</h1>
							<br>
							<p>The process can take several minutes. thank you for your
								patience. If you provided your email, we will be notified when
								the process is finished.</p>
						</div>
						<br> <br> <br> <img id="load"
							th:src="@{dist/imgs/loading.gif}" src="dist/imgs/loading.gif" />
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
		window.setInterval('refresh()', 10000); // CALL A FUNCTION EVERY 10000 MILLISECONDS OR 10 SECONDS.

		// REFRESH OR RELOAD PAGE.
		function refresh() {
			window.location.reload();
		}
	</script>
</body>
</html>
